<template name='frontPage'>

    <div class="jumbotron">
      <img style="float:left;" width="128" height="128" src="/icons/scallop.png" alt="...">
      <h1>Hello!</h1>
      <p>
        Welcome to Shell!
      </p>
    </div>

    <span class='clearfix'></span>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img width="512" height="512" src="/icons/backup.png" alt="...">
          <div class="caption">
            <h3>Compete</h3>
            <p>Compete against others!</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img width="512" height="512" src="/icons/broadsword.png" alt="...">
          <div class="caption">
            <h3>Swords</h3>
            <p>We have swords!</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img width="512" height="512" src="/icons/test-tubes.png" alt="...">
          <div class="caption">
            <h3>Beta</h3>
            <p>This is just a beta! More comming soon?</p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            &nbsp;
        </div>
        <div class="jumbotron">
            <p>
                Join or Sign In at the top of the page to get started!
            </p>
        </div>
    </div>

</template>
