<template name='layout'>
    <div id="wrapper">
        {{> sideNav}}
        {{> topNav}}

        {{#each messages}}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close closeMessage" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{message}}
            </div>
        {{/each}}

        <div id="page-content-wrapper">
            {{> yield}}
            <!-- Used for react component -->
            <div id='yield'></div>

        </div>
    </div>
</template>


<template name='loginLayout'>
    <div class="navbar navbar-default navbar-fixed-top navbar-material-{{layoutColor}}" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{pathFor 'home'}}">
                <img class="brand-img" alt="Brand" height="32" width="32" src="/shell.png">
                <span class="brand-text">Shell</span>
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                {{> loginButtons}}
            </ul>
        </div>
    </div>
    <br />
    <br />{{> yield}}
</template>
